dist: bionic
language: python
python:
  - "3.7"
install: pip install flake8 tox-travis
before_script: flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
script: tox
deploy:
  provider: pypi
  user: nflxgenie
  password:
    secure: CXe2NwhxyfgG6Biphj6WfF86NXcIpoVz7BJGaVmM0zaaHf6lBlgwG106rqRMLF+fFMIJ3ISI4y47/4NLBquXwAwOZ0pUTfKYwt08BnB53Bu3q/671RmCoZUsqpG9CwBM18t/Ef9Q82H8u55yPaSEzbsKwAzoaHK1QgDgpDHrtXh1f+Y3XkfHYZBlBvujrz139v0XMy2rEO0kJu84fFil7m8NZ+s5JD+nbogmA/xo1L4/SW3Wt3qcYmGNKWqvl2wnFlpQocnWxFJJUH89RX3juZoO+3bnPKhzwJQKsC683EL9102Gus7eMCv4LdS18sRfnLJuHl7ZxjSWTeMy5quvZywcXwWxKYWMr8N0mRFNe36onveOgc9ATCRy+KKQx0Rhf+FAzuWyW5ZAQZHN7Qs4gzJgzUPOusOk92KGdlP2mLfKF+6soYb0IrlstZFoinXhUR9KRMYbLDdAy6cAthLUNZkxjlceH9Or87YO8wDCItP3uIpXm4z8RbPQ/fE5IYk1a0nqUUFrtU68Rx3KDX/gxj8CduLgMxwnXd9YAjd4OmmL/6zzqAn3eq24CUu00Byir7t3CidvPbASNX2DsVoF/qQozk97VZ/fANc38Zu6DP/o5oMYj9EFPhubd3YBVqUxXDTCL9HDtMiw4y3lAI/urHChCzZqFxOI+jVwJ7rEW5c=
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    tags: true